<a href="https://colab.research.google.com/github/KhouloudBenCheikh/Heart_Diseases_Prediction_using_ML/blob/main/Heart_Disease_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Import Librairies**

In [15]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score

# **Data Cleaning**

In [18]:
Heart_Data = pd.read_csv('/content/heart_disease_data.csv')

**Print the Hear of The Dataset (5 rows)**

In [19]:
Heart_Data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

**Print the last 5 rows of the Dataset**

In [20]:
Heart_Data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

**Print the size of the Dataset**

In [21]:
Heart_Data.shape

(303, 14)

**Dataset info**

In [22]:
Heart_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

**Cheching if there's missing Values**

In [23]:
Heart_Data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

**Count the Number of People affected by Heart Disease**

In [24]:
Heart_Data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

# ***Split Dataset ( Features & Label)***

In [25]:
X = Heart_Data.drop(columns='target', axis=1)
Y = Heart_Data ['target']

print("Features", X)
print('Label', Y)

Features      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]
Label 0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

**Split Data into Training Data & Test Data**

In [26]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(303, 13) (242, 13) (61, 13)

# ***Model Training***

In [37]:
model=LogisticRegression()
model.fit(X_train, Y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

# ***Model Evaluation***

**Accuracy**

In [28]:
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction, Y_train)

print('Accuracy on Training Data: ', training_data_accuracy)

Accuracy on Training Data:  0.8512396694214877

In [29]:
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction, Y_test)

print('Accuracy on Test Data: ', test_data_accuracy)

Accuracy on Test Data:  0.819672131147541

# **Test Model**

In [30]:
input_data = (52,1,1,120,325,0,1,172,0,0.2,2,0,2)

#Change the input data into a Numpy array
input_data_as_numpy_array = np.asarray(input_data)
print(input_data_as_numpy_array)

[5.20e+01 1.00e+00 1.00e+00 1.20e+02 3.25e+02 0.00e+00 1.00e+00 1.72e+02
 0.00e+00 2.00e-01 2.00e+00 0.00e+00 2.00e+00]

In [31]:
#Reshape the Numpy array as we are predicting for only one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1, -1)
print(input_data_reshaped)

[[5.20e+01 1.00e+00 1.00e+00 1.20e+02 3.25e+02 0.00e+00 1.00e+00 1.72e+02
  0.00e+00 2.00e-01 2.00e+00 0.00e+00 2.00e+00]]

In [34]:
#Prediction 
prediction=model.predict(input_data_reshaped)
print(prediction)

[1]

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [38]:
if prediction[0]==0:
  print("This Person doesn't have any Heart Disease")
else:
  print("This Person have Heart Disease")

This Person have Heart Disease